* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid coral; */
}

/* body menu */
.menu {
    width: 100vw;
    background-image: url(../img/menu.jpeg);
    background-size: cover;
}

.menu-nav {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    margin: 50vh;
}

.menu-li {
    list-style: none;
    width: 30rem;
    margin: 0 auto;
    color: white;
    line-height: 3rem;
}

li a:hover {
    color: rgb(218, 143, 122);

}
a:visited {
    color:white;
}


/* body home */

.home nav {
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
    width: 15vw;
    padding-right: 4rem;
    margin-top: 4rem;
    margin-left: 85vw;
}


.home-section1 {
    text-align: center;
    background-image: url(../img/menu.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 40rem;
    width: 100%;
    margin-top: 4vh;

}

.home-section1 article {
    color: white;
    margin: auto;
    width: 380px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.1w;
    line-height: 5vh;
    font-weight: lighter;
    padding-top: 35vh;
}

/* bilder mittig */

img {
    max-width: 100%;
    height: 65rem;
    display: block;
    object-fit: cover;
    
}

/* text mittig */

h2 {
    color: black;
    font-size: 1.8rem;
    margin-bottom: 5vh;
}
article {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    width: 60vw;
    text-align: center;
    margin: 15vh auto;
    line-height: 3.5vh;
}

/* letztes bild */

.home-section2 {
    text-align: center;
    background-image: url(../img/wolke4.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 40rem;
    width: 100%;
    margin: 20vh auto;

}

.home-section2 article {
    /* border: 0.1rem solid black; */
    color: white;
    margin: auto;
    width: 460px;
    letter-spacing: 0.2vw;
    line-height: 5vh;
    font-weight: lighter;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    padding-top: 35vh;
}

footer {
    text-align: center;
    margin: 10vh auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}