@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: #d3cccc66;
    font-family: "Roboto",'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --color-green: #659D89;
    --color-grey: #666666;
}

nav {
    margin-top: 1rem;
    margin-bottom: 5rem;
}
nav li {
    display: inline;
    margin-left: 3rem;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: var(--color-green);}

article {
    margin-left: 3rem;
    font-weight: light;
    font-size: 50px;
    width: 45%;
}

h1 {
    font-weight:light;
    font-size: 50px;
    color: var(--color-green);
}

aside ul {
    text-align: right;
    /* line-height: 20px; */
    margin-right: 100px;
}
